Package: com.yourname.macro
Name: MyAutoClicker
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Dynamic Coordinate Auto Clicker Tweak
Maintainer: iPadUser
Author: iPadUser
Section: Tweaks
